@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background: rgb(27, 43, 71);
    background: radial-gradient(
        circle,
        rgba(27, 43, 71, 1) 0%,
        rgba(0, 167, 220, 1) 85%,
        rgba(0, 178, 226, 1) 91%
    );
}

@layer components {
    .profile-nav {
        @apply flex flex-row items-center justify-center lg:justify-normal lg:items-stretch
         lg:flex-col gap-2 h-full text-lg;
    }

    .profile-nav-item {
        @apply flex flex-col items-center text-sm gap-2 lg:flex-row lg:text-base;
    }

    .spinner {
        margin: 3.2rem auto 1.6rem;
        width: 60px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid #fff;
        border-right-color: #fff;
        animation: rotate 1s infinite linear;
    }

    .spinner-mini {
        margin: 0;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 2px solid #fff;
        border-right-color: transparent;
        animation: rotate 1s infinite linear;
    }

    @keyframes rotate {
        to {
            transform: rotate(1turn);
        }
    }
}

/* For day picker (starts here) */
.my-today {
    color: #222222;
    font-weight: 800;
}

.my-selected {
    border-radius: 50%;
    background-color: #1b2b47;
    font-size: 1.3rem;
}

.rdp-nav .rdp-chevron {
    fill: #fff;
}

/* For day picker (ends here) */
