@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background: rgb(27, 43, 71);
    background: radial-gradient(
        circle,
        rgba(27, 43, 71, 1) 0%,
        rgba(0, 167, 220, 1) 85%,
        rgba(0, 178, 226, 1) 91%
    );
}

@layer components {
    .spinner {
        margin: 3.2rem auto 1.6rem;
        width: 60px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid #fff;
        border-right-color: #fff;
        animation: rotate 1s infinite linear;
    }

    .spinner-mini {
        margin: 0;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 2px solid #fff;
        border-right-color: transparent;
        animation: rotate 1s infinite linear;
    }

    @keyframes rotate {
        to {
            transform: rotate(1turn);
        }
    }
}

/* For data picker */
.rdp {
    --rdp-cell-size: 32px !important;
    --rdp-accent-color: #fff !important;
    --rdp-background-color: #fff !important;
    margin: 0 !important;
}

/* @keyframes example {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 50%;
    }
}

.fade-in {
    animation-name: example;
    animation-duration: 1s;
} */
